# The following options will be passed to all MySQL clients
[client]
user        = root
password    = cool42
port        = 3306
protocol    = tcp
# Here follows entries for some specific programs

# The MySQL server
[server]
port        = 3306
protocol    = tcp

[mysqld]
port        = 3306
protocol    = tcp